<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
<div  th:replace="~{/web/fragment/head_resources :: head_resources}"></div>
    <link rel="stylesheet" th:href="@{/web/login/form/form.css}">
    <link rel="stylesheet" th:href="@{/web/login/form/formMediaQuery.css}">
</head>
<body class="body-black">
<div th:replace="~{/web/fragment/header :: nav}"></div>

<main class="mainOfLogin">

    <div class="mainContentJustifier">

        <div class="login-container">
            <h1>Recuperar senha</h1>
            <form>
                <p class="infoTexte">Defina uma nova senha para sua conta</p>
                <div class="forLableAndInput">
                    <label for="senha"><i class="fa-solid fa-key"></i></label>
                    <input type="password" id="senha" name="senha" placeholder="Inserir sua senha">
                    <button type="button" class="toggle-password">
                        <i class="fa-solid fa-eye-slash"></i>
                    </button>
                </div>
                <div id="senhaDocumentFeedback" class="feedback"></div>
                <div class="forLableAndInput">
                    <label for="confirmPassword"><i class="fa-solid fa-key"></i></label>
                    <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirmar a senha">
                    <button type="button" class="toggle-password">
                        <i class="fa-solid fa-eye-slash"></i>
                    </button>
                </div>
                <div id="confirmPasswordDocumentFeedback" class="feedback"></div>
                <p class="infoTexte helpToLogin"><a th:href="@{/web/login}">Voltar ao login</a></p>
                <a class="btn btn-default" th:href="@{/web/login}">Submeter</a>
            </form>
        </div>
    </div>

    <div class="article">
        <p><a href="https://www.guizois.com/">Copyright © 2023 Guizo Informática e Serviços</a></p>
    </div>
</main>

<div th:replace="~{web/fragment/head_resources :: scripts}"></div>

</body>
</html>