@charset "UTF-8";

.mainContent {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.navbar, .subNavbar {
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.10);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
}

.subNavbar {
    margin-top: 10px;
    padding: 10px 0;
}

/* Estilos para os itens da navbar */
.navbar > .navbarLink > .navbarUserName {
    display: flex;
    align-items: center;
    color: var(--myBlue);
    font-weight: bold;
}

.navbar > .navbarLink > .navbarUserName > i {
    margin-left: 5px;
}

/* Botão para visualização móvel */
#buttonForBarMobile {
    display: none;
    position: absolute;
    padding: 5px 10px; /* Combinado */
}

.mobileDisplay {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    min-width: 230px;
    margin-left: 20px; /* Mantido na classe */
}

.profile {
    align-items: center;
}
