<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head th:replace="~{fragments/app/appHead/appHeadAddProduct :: appHeadAddProduct}"></head>

<!-- MOBILE BUTTON FOR SIDEBAR-->
<div th:replace="~{fragments/app/appSidebar :: sidebarFragment}"></div>

<main class="mainContent">
    <!-- navBar.html -->
    <div th:replace="~{fragments/app/appNavbar :: navbarFragment}"></div>

    <!--  Container FOR MAIN CONTENT-->
    <div class="mainContentJustifyWithoutSubMenu">
        <!-- Formulário para escolher produto e quantidade -->
        <div th:replace="~{fragments/app/appForm/negativeAdjustmentForm :: negativeAdjustmentForm}"></div>

        </div>
    </div>

    <div th:replace="~{fragments/app/appFooter :: footerFragment}"></div>

</main>

<div th:replace="~{fragments/app/appScripts/appExpansiveTableScripts :: appExpansiveTableScripts}"></div>


</body>
</html>