<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head th:replace="~{fragments/app/appHead/appHeadAddProduct :: appHeadAddProduct}"></head>

<!-- MOBILE BUTTON FOR SIDEBAR-->
<div th:replace="~{fragments/app/appSidebar :: sidebarFragment}"></div>

<main class="mainContent">
    <!-- navBar.html -->
    <div th:replace="~{fragments/app/appNavbar :: navbarFragment}"></div>
    <!-- SUB NAVBAR-->
    <nav class="subNavbar">
        <div class="mobileDisplay">

            <!-- Botão para abrir a lista de compras -->
            <a th:href="@{/Lista_de_compras}" class="btn btn-default" title="Lista de compras">
                <i class="fa-solid fa-clipboard-list"></i>
            </a>

        </div>
    </nav>

    <!--  Container FOR MAIN CONTENT-->
    <div class="mainContentJustify">

        <!-- Formulário para escolher produto e quantidade -->
        <div th:replace="~{fragments/app/appForm/purchaseForm :: purchaseForm}"></div>

        <!-- Lista de produtos escolhidos -->
        <div class="list-section">
            <h2><i class="fas fa-list"></i> Lista de Compras</h2>

            <div class="button-container">
                <a th:href="@{/stock}" class="btn btn-success" id="addPurchaseBtn" type="submit">Submeter</a>
            </div>

            <div class="forInputsContainer">
                <div class="forInputs">
                    <label class="standardFormLabel" for="purchaseDate">Data</label>
                    <input class="standardFormInput" type="date" id="purchaseDate">
                    <div id="purchaseDateDocumentFeedback" class="feedback"></div>
                </div>
                <div class="forInputs">
                    <label class="standardFormLabel" for="warehouse">Armazem</label>
                    <select class="standardFormInput" id="warehouse">
                        <option>Armazem de Boane</option>
                        <option>Armazem da Matola</option>
                    </select>
                    <div id="warehouseDocumentFeedback" class="feedback"></div>
                </div>

                <div class="forInputs">
                    <label class="standardFormLabel" for="supplier">Fornecedor</label>
                    <select class="standardFormInput" id="supplier" name="supplier">
                        <option>Shoprite da Matola</option>
                        <option>Jumbo</option>
                    </select>
                    <div id="supplierDocumentFeedback" class="feedback"></div>
                </div>
            </div>

            <div class="total">
                Total Geral: <span id="totalAmount">0</span> MZN
            </div>

            <!-- Tabela para os produtos -->
            <table id="productTable">
                <thead>
                <tr>
                    <th>Produto</th>
                    <th>Código de barras</th>
                    <th>Número de lote</th>
                    <th>Quantidade</th>
                    <th>Prateleira</th>
                    <th>Data de validade</th>
                    <th>Dias para alerta de expiração</th>
                    <th>Preço Unitário (MZN)</th>
                    <th>Preço de Venda</th>
                    <th>Total (MZN)</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <!-- Produtos serão inseridos aqui via JavaScript -->
                </tbody>
            </table>

        </div>

    </div>

    <div th:replace="~{fragments/app/appFooter :: footerFragment}"></div>

</main>

<div th:replace="~{fragments/app/appScripts/appPurchaseScripts :: appPurchaseScripts}"></div>

</body>
</html>