<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head th:replace="~{fragments/app/appHead/appHeadWithExpansiveTable :: appHeadWithExpansiveTable}"></head>

<!-- MOBILE BUTTON FOR SIDEBAR-->
<div th:replace="~{fragments/app/appSidebar :: sidebarFragment}"></div>

<main class="mainContent">
    <!-- navBar.html -->
    <div th:replace="~{fragments/app/appNavbar :: navbarFragment}"></div>
    <!-- SUB NAVBAR-->
    <nav class="subNavbar">
        <div class="mobileDisplay">
            <a th:href="@{/movimentos_do_stock}" class="btn btn-default" title="Movimentos do stock"><i class="fa-solid fa-clipboard-list"></i></a>
            <a th:href="@{/lista_de_grossario}" class="btn btn-default" title="Lista de grossário"><i class="fa-solid fa-cart-arrow-down"></i></a>
        </div>
    </nav>

    <!--  Container FOR MAIN CONTENT-->
    <div class="mainContentJustify">
        <div class="justifyItems">
            <div class="tableContainer">
                <table class="styled-table">
                    <thead>
                    <tr>
                        <th colspan="1">#</th>
                        <th colspan="1">Produto</th>
                        <th colspan="1">Categoria</th>
                        <th colspan="1">qtd. Disponível</th>
                        <th colspan="1">Ações</th>
                    </tr>
                    </thead>

                    <tbody>
                    <!-- Produto 1 -->
                    <tr class="mainRow" data-toggle="collapse" data-target=".row1">
                        <th colspan="1">1</th>
                        <th colspan="1">Computador Portátil</th>
                        <th colspan="1">Eletrónicos</th>
                        <th colspan="1">25 Un</th>
                        <th colspan="1">Ajustes</th>
                    </tr>
                    <tr class="hiddenRow row1">
                        <td colspan="1"><img class="productImage" alt="gamer laptop"
                                             th:src="@{/images/productImages/electronics/gamer_lap.png}"></td>
                        <td colspan="3">Nome: MacBook, Marca: Apple, Modelo: Apple MacBook Air M1, Descrição: Um laptop
                            MacBook com
                            processador AMD Ryzen 7, 8GB de RAM e 512GB de armazenamento SSD. Design elegante e leve,
                            ideal para uso em casa ou no trabalho, Peso: 3 KG, Durabilidade: 10 anos, Garantia: 1 ano
                        </td>
                        <td class="actionEye">
                            <a th:href="@{/ajuste_negativo}" title="Ajuste negativo"><i
                                    class="fa fa-minus"></i></a>
                            <a th:href="@{/ajuste_positivo}" title="Ajuste positivo"><i
                                    class="fa fa-plus"></i></a>
                        </td>
                    </tr>
                    </tbody>

                    <tfoot>
                    <tr>
                        <th colspan="1">Total de Produtos:</th>
                        <th colspan="4">4</th>
                    </tr>
                    </tfoot>
                </table>
            </div>

            <div class="cashflowformationDivGraphic">
                <div class="graphicSide">
                    <div class="chart-container">
                        <canvas id="default" class="first"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/app/appFooter :: footerFragment}"></div>

</main>

<div th:replace="~{fragments/app/appScripts/appExpansiveTableScripts :: appExpansiveTableScripts}"></div>


</body>
</html>