
<div class="modal-overlay" th:fragment="productDetails" xmlns:th="http://www.thymeleaf.org">

  <article class="profileDetails personalInformation modal">
    <div class="modalActions">
      <a class="iconLink" th:href="@{/app/adicionar_produto}" title="Adicionar ao carrinho"><i class="fa-solid fa-cart-plus"></i></a>
      <a class="iconLink close-modal" href="#" title="Fechar"><i
              class="fa-regular fa-circle-xmark"></i></a>
    </div>


    <img class="productImageDetails" th:src="@{/images/productImages/schoolSupplies/canetas.jpg}" alt="Canetas">

    <div class="profileName">
      <h1>Canetas</h1>
    </div>

    <div class="groupContent">
      <div class="details">
        <h2>Subcategoria</h2>
        <p>Material escolar</p>
      </div>

      <div class="details">
        <h2>Marca</h2>
        <p>Bic</p>
      </div>


      <div class="details">
        <h2>Modelo</h2>
        <p>Simples</p>
      </div>
    </div>

    <div class="groupContent">

      <div class="details">
        <h2>Observação</h2>
        <p>Caneta para uso escolar</p>
      </div>

      <div class="details">
        <h2>Unidade de medição</h2>
        <p>Unidade</p>
      </div>

      <div class="details">
        <h2>Tamanho</h2>
        <p>5 polegadas</p>
      </div>
    </div>


    <div class="groupContent">

      <div class="details">
        <h2>Peso</h2>
        <p>0.22KG</p>
      </div>

      <div class="details">
        <h2>Cor</h2>
        <p>Azul</p>
      </div>
    </div>

    <div class="groupContent">

      <div class="details">
        <h2>Altura</h2>
        <p>null</p>
      </div>

      <div class="details">
        <h2>PLargura</h2>
        <p>null</p>
      </div>

      <div class="details">
        <h2>Comprimento</h2>
        <p>17cm</p>
      </div>
    </div>

    <div class="groupContent">

      <div class="details">
        <h2>Durabilidade</h2>
        <p>3 meses</p>
      </div>

      <div class="details">
        <h2>Stock mínimo</h2>
        <p>40</p>
      </div>

      <div class="details">
        <h2>Stock máximo</h2>
        <p>5660</p>
      </div>
    </div>

  </article>

</div>