<section class="foot" th:fragment="footer" xmlns:th="http://www.thymeleaf.org">
    <div class="article">
        <div class="foot-items menu">
            <ul>
                <li><h2>GUIZO</h2></li>
                <li><a href="https://www.guizois.com/">Quem somos?</a></li>
                <li>
                    <a href="https://www.guizois.com/"
                    >Como podemos te servir?</a
                    >
                </li>
                <li><a href="https://www.guizois.com/">Fale connosco.</a></li>
            </ul>

            <ul>
                <li><h2>Contacto</h2></li>
                <li><a onclick="fazerChamada()">848887499 / 874000778</a></li>
                <li>
                    <a href="mailto:contacto@guizois.com">contacto@guizois.com</a>
                </li>
                <li>
                    <a
                            href="https://maps.app.goo.gl/rV5RaSFAzWEPiA4V6"
                            target="_blank"
                    >
                        Maputo, Boane-Vila
                    </a>
                </li>
            </ul>

            <ul>
                <li><h2>Nossos serviços</h2></li>
                <li>
                    <a href="https://www.guizois.com#Nossos-servicos"
                    >Desenvolvimento de sofware.</a
                    >
                </li>
                <li>
                    <a href="https://www.guizois.com#Nossos-servicos">Marketing digital.</a>
                </li>
                <li><a href="https://www.guizois.com#Nossos-servicos">Design gráfico.</a></li>
            </ul>
        </div>

        <div class="foot-items contact">
            <a href="https://www.facebook.com/softwareGestaoDeMicrocreditoGemic"
               target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/softwaredemicrocreditogemic/"
               target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href=" https://wa.me/258874000778" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
        </div>

        <p>
            <a href="https://www.guizois.com/">Copyright © 2023 Guizo Informática e Serviços</a>
        </p>
    </div>
</section>