<ul th:fragment="functionalities" xmlns:th="http://www.thymeleaf.org" class="benefit-list">
    <li class="benefit-items">
        <a th:href="@{/web/funcionalidades#dashboard}">» Dashboard<i class="fa-solid fa-circle-info"></i></a>
    </li>
    <li class="benefit-items">
        <a th:href="@{/web/funcionalidades#gestao-de-usuarios}">» Gestão de usuários<i
                class="fa-solid fa-circle-info"></i></a>
    </li>
    <li class="benefit-items">
        <a th:href="@{/web/funcionalidades#gestao_de_produtos}">» Gestão de produtos<i
                class="fa-solid fa-circle-info"></i></a>
    </li>
    <li class="benefit-items">
        <a th:href="@{/web/funcionalidades#gestao_de_estoque}">» Gestão de estoque<i
                class="fa-solid fa-circle-info"></i></a>
    </li>
    <li class="benefit-items">
        <a th:href="@{/web/funcionalidades#relatorios}">» Relatórios automatizados<i
                class="fa-solid fa-circle-info"></i></a>
    </li>
    <li class="benefit-items">
        <a th:href="@{/web/funcionalidades#diario-de-movimentos}">» Diário de movimentos<i
                class="fa-solid fa-circle-info"></i></a>
    </li>
    <li class="benefit-items">
        <a th:href="@{/web/funcionalidades#fluxo-de-caixa}">» Fluxo de caixa<i class="fa-solid fa-circle-info"></i></a>
    </li>
</ul>

