@charset "UTF-8";

.main {
    margin: 0 auto;
    justify-content: center;
}

.main-content{

}

.product-section-container {
    display: flex;
    flex-basis: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}

.product-section {
    display: flex;
    flex-basis: 100%;
    margin: 20px 40px;
    transition: 1s;
    max-width: 1200px;
    flex-wrap: wrap;
    justify-content: center;

}

.product-article-txt-container{
/* background-color: red; */
    justify-content: center;
    padding: 10px;
    /* padding: 30px; */
}

.product-article-txt{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.213);
    max-width: 800px;
    text-align: justify;
    margin: 40px auto;
    /* background-color: #233D4D; */
    margin-bottom: 40px;
}

.whatIs{
    margin: 40px;
    font-size: 40pt;
    text-align: center;
    border-top-left-radius: 40px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 40px;
    color: #233d4d;
    border: 1px solid #fbb03b;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.213);
}

.standard-title,.caption{
    margin-bottom: 10px;
}

.caption {
    font-size: 18pt;
    color: #233d4d;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
}

.topics {
    display: flex;
    flex-direction: column;

}

.topics > i{
    text-align: center;
    box-shadow: none!important;
    font-size: 50px;
    color: #fbb03b;
    margin-bottom: 10px;

}

.firstTopic{
    margin-top: 80px;
}

.points {
    margin: 30px 0 10px 0;
    /* background-color: red; */
}


/*////////////////////////////////////////////////////////////*/
/************** Precos ********/

.prices-div {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    flex-wrap: wrap;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.0), white);
}

.prices {
    display: flex;
    flex-basis: 100%;
    max-width: 1200px;
    margin-bottom: 200px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.prices-topic {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    text-align: center;
    margin: 100px auto;
    padding: 20px;
    font-size: 22pt;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.prices-plan {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(25% - 50px);
    max-width: 300px;
    border-radius: 20px;
    margin: 0 10px;
    padding-bottom: 20px;
    overflow: hidden;
    justify-content: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.10);
}

.price-article:hover {
    box-shadow: 5px 5px 15px #fbb03b51;
}

.prices #mensal {
    background-color: rgba(252, 202, 70, 0.5);
    translate: 0 -20px;
}

.prices #mensal:hover {
    translate: 0 -22px;
}


.prices #semi-annual {
    background-color: #fbb03b;
    translate: 0 -20px;
}

.prices #semi-annual:hover {
    translate: 0 -22px;
}


.prices .prices-plan:hover {
    translate: 0 -2px;
    box-shadow: 5px 5px 15px rgba(252, 202, 70, 0.2);
}

.prices .prices-subtopic {
    display: flex;
    flex-basis: 100%;
    margin: 10px auto;
    justify-content: center;
}

.prices-description {
    display: flex;
    flex-basis: 100%;
    margin: 0 0 20px 0;
    justify-content: center;
}

.prices-price {
    display: flex;
    flex-basis: 100%;
    margin: 0 0 20px 0;
    justify-content: center;
}

.prices-benefit {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: center;
}

.prices-benefit-topic {
    display: flex;
    flex-basis: 100%;
    margin: 0 0 10px 0;
    justify-content: center;
}

.benefit-list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: center;
    text-align: center;
    margin: 0 10%;
    line-height: 20pt;
}

.benefit-items {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    list-style: square !important;
}

.benefit-items > a{
    color: #161616;
}

.benefit-items .fa-circle-info {
    font-size: 8pt;
    color: rgba(0, 0, 0, 0.49);
    justify-content: center;
    align-items: center;
    transition: .5s;
    margin-left: 2px;
}

.benefit-items .fa-circle-info:hover {
    color: #3361aa;
    font-size: 10pt;
}


/* NOTA ACERCA DOS PREÇOS */

.note{
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px 10px 100px 100px;
    box-shadow: 2px 2px 15px rgba(53, 166, 222, 0.2);
    flex-basis: 100%;
    justify-content: center;
    margin: 80px 20px 0 20px;
    padding: 20px 10px;
}

.note > .caption{
    display: flex;
    flex-basis: 100%;
    border-bottom: 1px solid #3361aa32;
    justify-content: center;
    text-align: center;
    padding-bottom: 5px;
}

.note > p{
    display: flex;
    flex-basis: 100%;
    margin: 0 0 10px 0;
    justify-content: center;
    text-align: center;
}